    <include file="Layout:header" />
    	            <div class="row-fluid">
                <div class="span12">
                    <div class="tabbable" id="tabs-495601">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#panel-873605" data-toggle="tab">User</a>
                            </li>
                            <li>
                                <a href="#panel-411320" data-toggle="tab">第二部分</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="panel-873605">
                                <table class="table table-striped">
                                   <caption>条纹表格布局</caption>
                                   <thead>
                                      <tr>
                                         <th>名称</th>
                                         <th>城市</th>
                                         <th>密码</th>
                                      </tr>
                                   </thead>
                                   <tbody>
                                      <tr>
                                         <td>Tanmay</td>
                                         <td>Bangalore</td>
                                         <td>560001</td>
                                      </tr>
                                      <tr>
                                         <td>Sachin</td>
                                         <td>Mumbai</td>
                                         <td>400003</td>
                                      </tr>
                                      <tr>
                                         <td>Uma</td>
                                         <td>Pune</td>
                                         <td>411027</td>
                                      </tr>
                                   </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="panel-411320">
                                <p>
                                    第二部分内容.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <include file="Layout:footer" />